html,body {
	height: 100%;
}
body {
	background-color: #fff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
}
#divBody {
    position: absolute;
    top: 45px;
    bottom: 5px;
    width: 100%;
}
#header {
	background: #006468;
	height: 40px;
}
.div_close_modal {
	padding-right: 10px;
	float: right;
	bottom: 10px;
	position: absolute;
	text-align: center;
}
.modal-body-config-global_left {
    position: relative;
}
#content_factory{
	height: 100%;
	width: 100%;
	padding-right: 5px;
}
#content_blocks{
	height: 100%;
	width: 100%;
}
#blockly_l{
	float:left;
	height:100%;
	width:50%;
}
#blockly_r{
	float:right;
	height:100%;
	width:50%;
}
#btn_all {
	position: absolute;
	left: 5px;
	top: 2px;
	z-index: 10;
}
#btn_group {
	position: absolute;
	right: 5px;
	top: 5px;
	z-index: 10;
}
#toggle {
	width: 25%;
	position: absolute;
	z-index: 1;
	right: 15px;
	top: 5px;
	bottom: 90px;
}
#toggle pre {
	height: 100%;
}
#btn_saveino {
	position: absolute;
	top: 5px;
	right: 5px;
}
#serial-checboxes {
    margin-left: 20px;
}
#modal-body-config {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
}
#select_all {
	margin-left: 15px;
}
#span_select_all {
	font-weight: bold;
}
.blocklySvg {
	border-top: none !important;
}
.blocklyToolboxDiv {
	background-color: f2f3f4  !important;
	margin-left: 5px;
	width: 175px;
}
.blocklyFlyoutBackground {
	fill: #ffffff !important;
}
.blocklyTreeRoot {
	padding: 0 !important;
}
.blocklyToolboxDiv .blocklyTreeRoot [role="treeitem"] {
	position: relative;
}
.blocklyToolboxDiv .blocklyTreeRoot [role="treeitem"].blocklyTreeRow {
	line-height: normal !important;
	padding: 6px 50px 6px 12px !important;
}
.blocklyTreeRow {
	height: 30px !important;
	line-height: 30px !important;
}
.blocklyTreeSeparator {
	background: none repeat scroll 0 0 #e9f9f9 !important;
	border-bottom: none !important;
	height: 10px !important;
}
.colors_category {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 8px;
}
.loading {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../media/ajax-loading.gif) center no-repeat #fff;
}
.vignette {
    max-width: 80px;
    max-height: 80px;
}
.blocklyScrollbarKnob {
  fill: #00929F !important;
  fill-opacity: 0.7 !important;
}
.blocklyScrollbarBackground {
  stroke-width: 0px !important;
  fill: none !important;
}
