html,body {
	height: 100%;
}
body {
	background-color: #fff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
}
#divBody {
    position: absolute;
    top: 5px;
    bottom: 5px;
    width: 100%;
}
#local_debug{
	height: 15%;
	width: 100%;
	padding : 5px;
	background-color : black;
	color: white;
	overflow: auto;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre-wrap;
}
#serial_hud {
    width: 100%;
    height: 75%;
    background-color: black;
    color: white;
    font-size: 16px;
    line-height: 16px;
    overflow: auto;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
}
#content_area{
	height: 100%;
	width: 100%;
	padding-right: 5px;
}
#content_blocks,#content_arduino{
	height: 100%;
	width: 100%;
}
#content_term{
	height: 100%;
	width: 70%;
}
#blockly_l{
	float:left;
	height:100%;
	width:50%;
}
#blockly_r{
	float:right;
	height:100%;
	width:50%;
}
#btn_group {
	position: absolute;
	right: 15px;
	top: 0px;
	z-index: 10;
}
#barre{
	padding : 5px 5px 5px 10px;
	background-color : #006468;
}
#barre_h{
	padding : 5px 5px 5px 10px;
	background-color : #00929F;
}
#btn_term {
	position: absolute;
	right: 15px;
	top: 5px;
	z-index: 10;
}
#btn_saveino {
	position: absolute;
	right: 5px;
	top: 5px;
	z-index: 10;
}
#toggle {
	width: 25%;
	position: absolute;
	z-index: 1;
	right: 15px;
	top: 40px;
	bottom: 90px;
}
#toggle pre {
	height: 100%;
}
#pre_arduino {
	background-color : #FAFAFA;
    height: 70%;
    width: 100%;
}
#modal-body-config {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
}
#select_all {
	margin-left: 15px;
}
#span_select_all {
	font-weight: bold;
}
#div_miniPicture:hover {
	cursor: pointer;
}
.menuPanel-ver {
	clear: both;
	float: left;
	width: 185px;
    padding-left: 5px;
	padding-right: 5px;
	position: absolute;
	height: 100%;
}
.div_close_modal {
	padding-right: 10px;
	float: right;
	bottom: 10px;
	position: absolute;
	text-align: center;
}
.div_tools_button-ver {
    width: 200px;
    bottom: 50px;
    position: absolute;
    text-align: center;
}
.btn_ver {
	text-align : left;
	margin: 5px 0;
}
.divTabpanel-ver {
    height: 100%;
    margin-left:185px;
}
.modal-body-config-global_left {
    position: relative;
}
.arduino_card_mini_picture_div {
	position:absolute;
	top:5px;
	right:5px;
	width:350px;
}
.blocklySvg {
	border-top: none !important;
}
.blocklyToolboxDiv {
	background-color: #ffffff !important;
}
.blocklyFlyoutBackground {
	fill: #ffffff !important;
}
.blocklyTreeRoot {
	padding: 0 !important;
}
.blocklyToolboxDiv .blocklyTreeRoot [role="treeitem"] {
	position: relative;
}
.blocklyToolboxDiv .blocklyTreeRoot [role="treeitem"].blocklyTreeRow {
	line-height: normal !important;
	padding: 6px 50px 6px 12px !important;
}
.blocklyTreeRow {
	height: 30px !important;
	line-height: 30px !important;
}
.blocklyTreeSeparator {
	background: none repeat scroll 0 0 #e9f9f9 !important;
	border-bottom: none !important;
	height: 10px !important;
}
.colors_category {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 8px;
}
.loading {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../media/ajax-loading.gif) center no-repeat #fff;
}
.vignette {
    max-width: 80px;
    max-height: 80px;
}
.margin-top-5 {
	margin-top: 5px;
}
.blocklyScrollbarKnob {
  fill: #00929F !important;
  fill-opacity: 0.7 !important;
}
.blocklyScrollbarBackground {
  stroke-width: 0px !important;
  fill: none !important;
}
